*

!.gitignore
!README.md
!LICENSE.txt
!.bashrc
!.vimrc

!.global/
!.global/**/*
/.global/pkg/

!.w3m/
!.w3m/**/*
/.w3m/cookie

!.config/
!.config/kitty/
!.config/kitty/**/*

!.config/starship.toml

!.config/nvim/

!.wsl/
!.wsl/**/*
.wsl/.global/bin/win32yank.exe

