*

!.gitignore
!README.md
!LICENSE
!.bashrc
!.vimrc
!.uim
!.tmux.conf
!.crontab

!.global/
!.global/**/*
.global/pkg/
.global/bin/win32yank.exe
.global/bin/npiperelay.exe
.global/bin/rufus-4.6.exe
.global/bin/gemini-terminal

!.w3m/
!.w3m/bookmark.html
!.w3m/config
!.w3m/keymap

!.config/
!.config/kitty/
!.config/kitty/**/*

!.config/starship.toml

!.config/nvim/

!.wsl/
!.wsl/**/*

!.work/
!.work/**/*
.work/logo/misaki_gothic_2nd.ttf
