*

!.gitignore
!README.md
!LICENSE.txt
!.bashrc

!.config/
!.config/kitty/
!.config/kitty/**/*

!.config/starship.toml

!.config/nvim/
!.config/nvim/**/*
.config/nvim/lazy-lock.json

!.w3m/
!.w3m/**/*
/.w3m/cookie

